textarea {
    font-size: 16px;
    width:100%;
    height:100px;
}

dt {
	color: 	#808000;
}
#name {color:#0000FF;}
#thread {font-size:16px;}

.wrap {width:100%;}
.header{
    font-size: 20px;
    color: white;
    background: gray;
}

.main{width:60%; height:100%;float:left;word-break: break-all;}
.usage{width:20%;height:100%; font-size:16px;float:left;color:gray;}
.thread_list { width:20%; height:100%;float:left; box-sizing: border-box;}
.mthread_list {width: 100%;word-break: break-all;}

.main2{width:100%;text-align:center;}
.book_list{width: 100%;text-align:left;}
.create_book{width:100%;text-align: left;}
.latest{width: 100%;word-break: break-all;display: inline-block;
text-align:left;}


@media screen and (max-width: 600px){
.usage {display:none;}
.thread_list{display: none;}
.main {width:100%;}
}

@media screen and (min-width: 600px){
.mthread_list{display: none;}
}

